"*":
  "autocomplete-plus":
    autoActivationDelay: 500
    confirmCompletion: "enter"
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    hideGitIgnoredFiles: true
  "custom-title":
    template: "<%= relativeFilePath %>"
  editor:
    backUpBeforeSaving: true
    fontSize: 11
    invisibles: {}
    preferredLineLength: 128
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "file-icons":
    coloured: false
  "language-log":
    tail: true
  "linter-js-yaml":
    customTags: [
      "!include"
      "!include_dir_list"
      "!include_dir_named"
      "!include_dir_merge_list"
      "!include_dir_merge_named"
    ]
  "linter-pylama":
    ignoreErrorsAndWarnings: "D203,D212,D213,D404,E501"
    pylamaVersion: "internal"
    usePep257: false
  "one-dark-ui":
    layoutMode: "Compact"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
